{% extends 'content.html.twig' %}
{% set page_title = "Gestion des campagnes" %}

{% block title %}
	{{ page_title }}
{% endblock %}


{% block content %}
	<div class="flex justify-around">
		{{ component("Button", {
                url: path('app_admin'),
                size: "w-64 h-32",
                label: "Retour à l'accueil",
            })}}
		{{ component("Button", {
                url: path('app_campaign_new'),
                size: "w-64 h-32",
                label: "Créer une campagne",
            })}}
	</div>
	<table class="table-auto text-2xl w-full border border-separate border-slate-500 border-spacing-1">
		<thead class="text-left bg-red-900 bg-opacity-20">
			<tr>
				<th class="border border-slate-600">Id</th>
				<th class="border border-slate-600">Nom</th>
				<th class="border border-slate-600">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for campaign in campaigns %}
				<tr>
					<td class="border border-slate-600">{{ campaign.id }}</td>
					<td class="border border-slate-600">{{ campaign.name }}</td>
					<td class="flex flex-wrap border border-slate-600">
						{{ component("Button", {
                                    url: path('app_campaign_show', {'id': campaign.id}),
                                    size: "w-28 h-8",
                                    label: "Voir",
									textSize: "text-sm"
                                })}}

						{{ component("Button", {
                                    url: path('app_campaign_edit', {'id': campaign.id}),
                                    size: "w-28 h-8",
                                    label: "Editer",
									textSize: "text-sm"
                                }
                                )}}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
