<div
	class=" box p-2 gap-3 xl:h-[80vh] overflow-auto">

	{# TODO better img alt  #}
	<h2 class="text-3xl text-center p-2">{{ campaign.name }}</h2>
	<div class="flex sm:flex-row xl:flex-col items-center">
		{% for player in campaign.player %}
			<turbo-frame id="player-stats-{{player.id}}" class="flex flex-col justify-center items-center xl:items-start w-full border-r-2 xl:border-r-0 xl:border-b-2  border-red-500 py-2">

				<div class="flex sm:flex-col xl:flex-row justify-between">
					<a href={{ path("app_hero_stats", {"id": player.id} ) }} class="mr-2"><img src={{asset("images/avatar/" ~ player.characterAvatarUrl )}}  alt="accès aux stats de {{ player.name }}" class="w-32 rounded-xl"></a>
					<div class="w-4/5">
						<div>
							<span class="text-yellow-600">Nom:</span>
							{{ player.name }}</div>
						<div>
							<span class="text-yellow-600">Niveau:</span>
							{{ player.level  }}</div>
						<div>
							<span class="text-yellow-600">Classe:</span>
							{{ player.job.name }}</div>
						<div>
							<span class="text-yellow-600">Race:</span>
							{{ player.race.name }}</div>
						{{ component('Lifepoints', {points: player.lifepoints, playerId: player.id})}}
					</div>
				</div>

			</turbo-frame>
		{% endfor %}
	</div>


</div>
